<div class="p-5 text-center bg-light" style="margin-top: 58px;">
  <h1 class="mb-3"><%= @job.title %></h1>

    <p class="lead">
      <%= @job.description %>
    </p>
    <p class="lead">
      <%= @job.job_type %>
    </p>
    <p class="lead">
      <%= @job.company %>
    </p>
    <p class="lead">
      <%= @job.location %>
    </p>
    <%= link_to 'Edit', edit_job_path(@job), class:"btn btn-info" %>
    <%= link_to 'Back', jobs_path, class:"btn btn-info" %>
  </div>
